{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form class="auth-form" method="post">
    {% if not isRegister %}
        <div class="alert alert-danger">Email already exists or password not miss match</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please registration</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    
    <label for="plainPassword" class="sr-only">Password</label>
    <input type="password" name="plain_password" id="plainPassword" class="form-control" placeholder="Confirm password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
{% endblock %}
