{% extends "base.html.twig" %}

{% block body %}
    <div class="news-date d-flex justify-content-between mb-3">
        <a href="{{ path('login') }}">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Please login page
        </a>
    </div>
    <h1> Your success registration </h1>
{% endblock %}