.page {
    box-shadow: 0 0 5px 0px black;
    margin-top: 15px;
    padding: 15px;
    min-height: 600px;
}

header{
    margin-top: 15px;
    box-shadow: 0 0 5px 0px black;
}

.navbar-nav a{
    font-size: 26px;
    padding: 10px 25px !important;
}

.btn-primary{
    color: #fff;
}

.news-list > div{
   box-shadow: 0 0 2px 2px #0000007d;
   padding-bottom: 15px;
   margin-top: 15px;
}

.news-list{
    padding: 0 15px;
}

.date-news {
    text-align: right;
    font-size: 22px;
    color: brown;
    font-weight: bold;
}

.news-list h2 {
    color: darkcyan;
    font-weight: bold;
}

.news-date {
    background: aquamarine;
    font-weight: bold;
    font-size: 22px;
    padding: 5px 15px;
    color: brown;
    text-align: right;
}

h1.news-title {
    margin: 15px 0;
    color: brown;
    font-weight: bold;
}

p.news-desc {
    box-shadow: 0 0 8px #0000008a;
    padding: 15px;
}

h1.removed-news span {
    color: blue;
}

.login-form {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.login-form li {
    list-style-type: none;
}

.login-form li, .login-form li a {
    font-size: 22px;
}

.auth-form {
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 0 10px #000000a6;
    padding: 15px;
}

.auth-form input {
    margin-bottom: 15px;
}