{% extends "base.html.twig" %}

{% block body %}
    <div class="news-date d-flex justify-content-between mb-3">
        <a href="{{ path('newsList') }}">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            News list
        </a>
    </div>
    <h1 class="removed-news"> News <span>{{title}}</span> removed success </h1>
{% endblock %}