{% extends "base.html.twig" %}

{% block body %}
    <div class="d-flex align-items-center">
        <h1> List News </h1>
        {%  if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-primary ml-3" href="{{path('addNews')}}" >Add news</a>
        {% endif %}
    </div>
    <div class="news-list row">        
        {% for news in news_list %}
            <div class="col-sm-12">
                <div class="row">
                    <h2 class="col-sm-8 mb-3 mt-3">{{news.title}}</h2>    
                    <div class="col-sm-4 mt-4 date-news">
                        {{news.dateUpdated|date("d m Y H:i:s")}}
                    </div>
                    <div class="col-sm-12">
                        {{news.description|slice(0,300)}} ...                        
                        <a href="{{ path('showNews', {'id': news.id}) }}" >read more</a>
                    </div>    
                </div>
            </div>
        {% endfor %}        
    </div>
{% endblock %}