{% extends "base.html.twig" %}

{% block body %}
    <div class="news-date d-flex justify-content-between">
        <a href="{{ path('newsList') }}">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            News list
        </a>
        <span>{{News.dateUpdated|date("d m Y H:i:s")}}</span>
    </div>
    <h1 class="news-title">{{News.title}}</h1>
    <p class="news-desc">
        {{News.description}}
    </p>    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteNews">
        Delete news
    </button>

    <!-- Modal -->
    <div class="modal fade" id="deleteNews" tabindex="-1" role="dialog" aria-labelledby="deleteNewsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteNewsLabel">Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to delete this news ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="{{ path('deleteNews', {'id': News.id}) }}" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}