<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Blog news{% endblock %}</title>
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/main.css" rel="stylesheet" />
        <script src="/jquery.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script defer src="/main.js"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand d-lg-none" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home') }}">Home</a>
                        </li>                          
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contacts') }}">Contacts</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('about') }}">About us</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('newsList') }}">News</a>
                        </li>                         
                    </ul>  
                    <ul class="login-form">
                        {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('logout') }}">Logout</a>
                        </li> 
                        <li class="nav-item">Hello: {{app.user.username}}</li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('login') }}">Login</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('registration') }}">Registration</a>
                            </li>
                            <li class="nav-item">Hello: guest</li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <div class="page">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>